<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set routeName = app.request.get('_route') %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item {% if routeName == 'default' %} active{% endif %}">
                    <a class="nav-link " aria-current="page" href="{{ path("default") }}">Home{% if routeName ==
                            'default' %}<span
                            class="sr-only">
                            (current)</span>{% endif %}</a>
                </li>
                <li class="nav-item {% if routeName starts with 'car_' %} active{% endif %}">
                    <a class="nav-link" href="{{ path("car_list") }}">Vehicles{% if routeName starts with 'car_' %}<span
                            class="sr-only">
                            (current)</span>{% endif %}</a>
                </li>
                <li class="nav-item {% if routeName starts with 'brand_' %} active{% endif %}">
                    <a class="nav-link" href="{{ path("brand_list") }}">Brands {% if routeName starts with 'brand_' %}
                            <span
                                    class="sr-only">
                            (current)</span>{% endif %}</a>
                </li>
                <li class="nav-item {% if routeName starts with 'image_' %} active{% endif %}">
                    <a class="nav-link" href="{{ path("image_list") }}">Images{% if routeName starts with 'image_' %}
                        <span
                                class="sr-only">
                            (current)</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_logout") }}">Logout</a>
                </li>
            </ul>
            <div>
                Good {{ app.user.firstname }} {{ app.user.lastname }}
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
